<tr id="episode-<%= episode.id %>">
  <td class="w-16">
    <!---　icon --->
    <% # image_tag "sample", width: "50", height: "50", class: "rounded-full" %>
  </td>
  <td>
    <h3 class="text-sm font-semibold"><%= episode.user.name %></h3>
    <p class="text-gray-700"><%= simple_format(episode.body) %></p>
  </td>
</tr>