<div class="flex flex-col rounded-lg border border-gray-200 p-4 hover:shadow-lg transition-shadow duration-300">
  <h3 class="mb-2 text-lg font-semibold text-[#F49340] md:text-xl">
    <%= link_to post.title, post_path(post) %> <!-- ポストタイトル -->
  </h3>
  <ul class="list-inline mb-4">
    <li class="flex items-center text-sm text-gray-600">
      <i class="fa-regular fa-user"></i><%= post.user.name %>
    </li>
  </ul>
</div>
